body {
  background-color: slategrey;
}

#title {
  text-align: center;
}

#color-palette {
  text-align: center;
  margin: auto;
  background-color: burlywood;
  height: 46px;
}

.select-black.pixel {
  background-color: black;
  color: aliceblue;
  margin-top: 2px;
}

.select-blue.pixel {
  background-color: blue;
  color: aliceblue;
}

.select-red.pixel {
  background-color: red;
  color: aliceblue;
}

.select-green.pixel {
  background-color: green;
  color: aliceblue;
}

#pixel-board {
  text-align: center;
  margin-top: 10px;
}

.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: solid black 1px;
  margin: 0%;
  padding: 0%;
}
