body {
  background-color: slategrey;
}

#title {
  text-align: center;
}

#color-palette {
  text-align: center;
  margin: auto;
  background-color: burlywood;
  height: 46px;
}

#pixel-board {
  margin: auto;
  text-align: center;
  margin-top: 10px;
  line-height: 0;
}

.tamanhoBoardPixel {
  width: 250px;
  height: 250px;
}

.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: solid black 1px;
  margin: 0%;
  padding: 0%;
}

.selectBlack.color.pixel {
  background-color: black;
  color: aliceblue;
  margin-top: 2px;
}

.selectBlue.color.pixel {
  color: aliceblue;
  background-color: blue;
}

.selectRed.color.pixel {
  background-color: red;
  color: aliceblue;
}

.selectGreen.color.pixel {
  background-color: green;
  color: aliceblue;
}
